/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Message Styles */
.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.author {
    font-weight: bold;
    margin-bottom: 5px;
}

.content {
    margin-top: 5px;
}

/* Button Styles */
.theme-switch-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    display: block;
    width: 100%;
    max-width: 100px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

/* Light Theme */
body.light {
    background-color: #ffffff;
    color: #000000;
}

.light .my-message {
    background-color: #dcf8c6; /* Light green for your messages */
}

.light .other-message {
    background-color: #f0f0f0; /* Light gray for others' messages */
}

.light h1 {
    color: #333333;
}

.light a {
    color: #333333;
    text-decoration: underline;
}

.light a:hover {
    text-decoration: underline;
}

.light .theme-switch-button {
    background-color: #FFFFFF; 
    color: #000000;
}

.light .theme-switch-button:hover {
    background-color: #DCF8C6;
}

/* Dark Theme */
body.dark {
    background-color: #121212;
    color: #ffffff;
}

.dark .my-message {
    background-color: #2c7a7b; /* Darker green for your messages */
    text-align: right;
}

.dark .other-message {
    background-color: #333333; /* Dark gray for others' messages */
    text-align: left;
}

.dark h1 {
    color: #dddddd;
}

.dark a {
    color: #dddddd;
    text-decoration: underline;
}

.dark a:hover {
    text-decoration: underline;
}

.dark .theme-switch-button {
    background-color: #121212;
    color: white;
}

.dark .theme-switch-button:hover {
    background-color: #2c7a7b;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

li {
    margin-bottom: 10px;
    width: 100%;
}
